html {
  background: #f6f4ff; }

*::-webkit-selection {
  background-color: #b5acff; }

*::-moz-selection {
  background-color: #b5acff; }

*::selection {
  background-color: #b5acff; }

body {
  color: #070063; }

ul {
  list-style: square inside none; }
  @media screen and (max-width: 640px) {
    ul {
      margin-bottom: .25rem; } }
  @media screen and (min-width: 641px) and (max-width: 1024px) {
    ul {
      margin-bottom: .35rem; } }
  @media screen and (min-width: 1025px) {
    ul {
      margin-bottom: .5rem; } }

a:link, a:visited {
  color: #070063; }

a:hover, a:active, a:focus {
  color: #5900ff; }

div.col-flex-container > div {
  margin-bottom: 1rem; }

@supports (display: grid) {
  div.col-flex-container > div {
    margin-bottom: 1rem; }
  @media screen and (min-width: 641px) {
    div.col-flex-container {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: auto auto;
      grid-auto-columns: min-content; }
      div.col-flex-container > div {
        margin-bottom: 0; } }
  @media screen and (min-width: 641px) {
    div.col-2-container {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: min-content; } } }

h1 {
  font-family: "Overpass", "Trebuchet MS", Tahoma, sans-serif;
  font-style: italic; }

h2, h3, h4, h5, h6 {
  font-family: "Overpass", "Trebuchet MS", Tahoma, sans-serif;
  font-style: italic;
  text-transform: uppercase; }

h2, h3 {
  margin-bottom: 1rem; }

h4, h5, h6 {
  margin-bottom: .5rem; }

h1, h2, h3 {
  font-weight: 700; }

h4 {
  font-weight: 600; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.424rem; }

h3 {
  font-size: 1.266rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 1rem; }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  h1 {
    font-size: 2.25rem; }
  h2 {
    font-size: 1.424rem; }
  h3 {
    font-size: 1.266rem; }
  h4 {
    font-size: 1.125rem; }
  h5 {
    font-size: 1rem; }
  h6 {
    font-size: 1rem; } }

@media screen and (min-width: 1025px) {
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 1.424rem; }
  h3 {
    font-size: 1.266rem; }
  h4 {
    font-size: 1.125rem; }
  h5 {
    font-size: 1rem; }
  h6 {
    font-size: 1rem; } }

p, span, div, ul {
  font-family: "Overpass Mono", Consalas, monaco, "Lucida Console", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0; }

div:not(:last-child) {
  margin-bottom: 1rem; }

p:not(:last-child), span:not(:last-child), ul:not(:last-child) {
  margin-bottom: .5rem; }

html {
  height: 100%;
  font-size: 16px; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
  @supports (display: grid) {
    body {
      display: grid; } }

div.main {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 100%;
  grid-auto-rows: min-content;
  grid-gap: 2rem;
  max-width: 700px;
  padding: 1.25rem 1rem 1.25rem 1rem; }
  @media screen and (min-width: 1025px) {
    @supports (display: grid) {
      div.main {
        max-width: 1000px;
        max-height: 1200px; } } }
  div.main section.header {
    display: flex;
    align-items: flex-start; }
    div.main section.header a {
      display: flex;
      align-items: center; }
      div.main section.header a:link, div.main section.header a:visited {
        text-decoration: none; }
      div.main section.header a:hover .logo svg, div.main section.header a:active .logo svg, div.main section.header a:focus .logo svg {
        fill: #5900ff; }
    div.main section.header .logo {
      width: 100px;
      margin-right: 1.5rem; }
    div.main section.header h1 {
      margin-bottom: 0; }
  @supports (display: grid) {
    div.main section.body {
      display: grid;
      grid-gap: 2rem; }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        div.main section.body {
          grid-template-columns: 100%; } }
      @media screen and (min-width: 1025px) {
        div.main section.body {
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: 1fr; } }
      @media screen and (min-width: 0) {
        div.main section.body.proj-body {
          display: grid;
          grid-template-columns: 100%;
          grid-gap: 2rem; } } }
  div.main section.body section {
    margin-bottom: 0; }
  div.main section.body section h3 {
    border-bottom: 2px solid; }
  @media screen and (min-width: 550px) {
    @supports (display: grid) {
      div.main section.body .skills > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem; } } }
  div.main section.body .skills > div ul:not(:last-child) {
    margin-bottom: 1rem; }
  @media screen and (min-width: 550px) {
    @supports (display: grid) {
      div.main section.body .skills > div ul {
        margin-bottom: 0; } } }
  div.main section.body .work ul {
    margin-bottom: 0; }
  div.main section.body section.contact div.social-links {
    font-size: 1.25rem; }
    @media screen and (min-width: 1025px) {
      div.main section.body section.contact div.social-links {
        font-size: 1.125rem; } }
  @supports (display: grid) {
    div.main section.body.proj-body section.proj-img {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem; }
      @media screen and (max-width: 640px) {
        div.main section.body.proj-body section.proj-img {
          grid-template-columns: 100%; } }
      div.main section.body.proj-body section.proj-img img {
        margin-bottom: 0 !important; } }
  div.main section.body.proj-body section.proj-img img {
    max-width: 100%;
    margin-bottom: 2rem; }
  div.main section.footer {
    padding: .5rem 0;
    display: flex;
    align-items: flex-end; }
    @media screen and (min-width: 1025px) {
      div.main section.footer {
        justify-content: center; } }
