
////////////////////////////////////////
// breakpoint variables               //
////////////////////////////////////////

$small-screen:       640px;
$medium-screen:      1024px;
$large-screen:       1440px;

$break-small:
  "screen and (max-width: #{$small-screen})";
$break-small-up:
  "screen and (min-width: 0)";
$break-medium:
  "screen and (min-width: #{$small-screen + 1}) and (max-width: #{$medium-screen})";
$break-medium-up:
  "screen and (min-width: #{$small-screen + 1})";
$break-large:
  "screen and (min-width: #{$medium-screen + 1})";

$grid: "(display: grid)";

////////////////////////////////////////
// style variables                    //
////////////////////////////////////////

$color-1:            #f6f4ff;
$color-2:            #070063;
$color-3:            #5900ff;
$selection-bg:       #b5acff;

$font-stack-heading:
  'Overpass', "Trebuchet MS", Tahoma, sans-serif;
$font-stack-copy:
  'Overpass Mono', Consalas, monaco, 'Lucida Console', sans-serif;

////////////////////////////////////////
// @mixins                            //
////////////////////////////////////////

@mixin font-heading {
  font-family: $font-stack-heading;
  font-style: italic;
}

@mixin font-copy {
  font-family: $font-stack-copy;
  font-weight: 400;
}

////////////////////////////////////////
// globals                            //
////////////////////////////////////////

html {
  background: $color-1;
}

// highlighting
*::-webkit-selection {background-color: $selection-bg}
*::-moz-selection {background-color: $selection-bg;}
*::selection {background-color: $selection-bg;}

body {
  color: $color-2;
}

ul {
  list-style: square inside none;
  @media #{$break-small} {
    margin-bottom: .25rem;
  }
  @media #{$break-medium} {
    margin-bottom: .35rem;
  }
  @media #{$break-large} {
    margin-bottom: .5rem;
  }
}

////////////////////////////////////////
// links                              //
////////////////////////////////////////

a {
  &:link, &:visited {
    color: $color-2;
  }
  &:hover, &:active, &:focus {
    color: $color-3;
  }
}

////////////////////////////////////////
// columns                            //
////////////////////////////////////////

div.col-flex-container {
  > div {
    margin-bottom: 1rem;
  }
}

@supports (display: grid) {
  div.col-flex-container {
    > div {
      margin-bottom: 1rem;
    }

    @media #{$break-medium-up} {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: auto auto;
      grid-auto-columns: min-content;
      > div {
        margin-bottom: 0;
      }
    }
  }

  div.col-2-container {
    @media #{$break-medium-up} {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: min-content;
    }
  }
}

////////////////////////////////////////
// headings                           //
////////////////////////////////////////

h1 {
  @include font-heading;
}

h2, h3, h4, h5, h6     {
                        @include font-heading;
                        text-transform: uppercase;
                       }

h2, h3                 {
                        margin-bottom: 1rem;
                       }

h4, h5, h6             {
                        margin-bottom: .5rem;
                       }

h1, h2, h3             {font-weight: 700;}
h4                     {font-weight: 600;}

h1 {font-size: 2rem;}
h2 {font-size: 1.424rem;}
h3 {font-size: 1.266rem;}
h4 {font-size: 1.125rem;}
h5 {font-size: 1rem;}
h6 {font-size: 1rem;}

@media #{$break-medium} {
  h1 {font-size: 2.25rem;}
  h2 {font-size: 1.424rem;}
  h3 {font-size: 1.266rem;}
  h4 {font-size: 1.125rem;}
  h5 {font-size: 1rem;}
  h6 {font-size: 1rem;}
}

@media #{$break-large} {
  h1 {font-size: 3rem;}
  h2 {font-size: 1.424rem;}
  h3 {font-size: 1.266rem;}
  h4 {font-size: 1.125rem;}
  h5 {font-size: 1rem;}
  h6 {font-size: 1rem;}
}

////////////////////////////////////////
// copy                               //
////////////////////////////////////////

p, span, div, ul {
  @include font-copy;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0;
}

div {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

p, span, ul {
  &:not(:last-child) {
    margin-bottom: .5rem;
  }
}

////////////////////////////////////////
// else                               //
////////////////////////////////////////

html {
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;

  @supports (display: grid) {
    display: grid;
  }

  justify-content: center;
  align-items: center;
  height: 100%;
}

div.main {
  max-width: 700px;
  padding: 1.25rem 1rem 1.25rem 1rem;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: min-content;
    grid-gap: 2rem;
  }

  @media #{$break-large} {
    @supports (display: grid) {
      max-width: 1000px;
      max-height: 1200px;
    }
  }

  @supports not (display: grid) {
    > * {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  section.header {
    display: flex;
    align-items: flex-start;

    a {
      display: flex;
      align-items: center;

      &:link, &:visited {
        text-decoration: none;
      }

      &:hover, &:active, &:focus {
        .logo {
          svg {
            fill: $color-3;
          }
        }
      }
    }

    .logo {
      width: 100px;
      margin-right: 1.5rem;
    }

    h1 {
      margin-bottom: 0;
    }
  }

  section.body {
    @supports (display: grid) {
      display: grid;
      grid-gap: 2rem;

      @media #{$break-medium} {
        grid-template-columns: 100%;
      }

      @media #{$break-large} {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
      }

      &.proj-body {
        @media #{$break-small-up} {
          display: grid;
          grid-template-columns: 100%;
          grid-gap: 2rem;
        }
      }
    }

    section {
      margin-bottom: 0;
    }

    section h3 {
      border-bottom: 2px solid;
    }

    .skills {
      > div {
        @media screen and (min-width: 550px) {
          @supports (display: grid) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1.5rem;
          }
        }

        ul {
          &:not(:last-child) {
            margin-bottom: 1rem;
          }

          @media screen and (min-width: 550px) {
            @supports (display: grid) {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .work {
      ul {
        margin-bottom: 0;
      }
    }

    section.contact {
      div.social-links {
        font-size: 1.25rem;

        @media #{$break-large} {
          font-size: 1.125rem;
        }
      }
    }

    &.proj-body {
      section.proj-img {
        @supports (display: grid) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 2rem;

          @media #{$break-small} {
            grid-template-columns: 100%;
          }

          img {
            margin-bottom: 0 !important;
          }
        }

        img {
          max-width: 100%;
          margin-bottom: 2rem;
        }
      }
    }
  }

  section.footer {
    padding: .5rem 0;
    display: flex;
    align-items: flex-end;
    @media #{$break-large} {
      justify-content: center;
    }
  }
}
