////////////////////////////////////////
// breakpoint variables               //
////////////////////////////////////////

$small-screen:           480px;
$medium-screen:          768px;
// $large-screen:        1440px;

$break-small:            "screen and (max-width: #{$small-screen})";
$break-medium:           "screen and (min-width: #{$small-screen + 1}) and (max-width: #{$medium-screen})";
$break-large:            "screen and (min-width: #{$medium-screen + 1})";

////////////////////////////////////////
// style variables                    //
////////////////////////////////////////

$color-1:                #f6f4ff;
$color-2:                #070063;
$color-3:                #5900ff;
$selection-bg:           #b5acff;

$font-stack-heading:     'Overpass', "Trebuchet MS", Tahoma, sans-serif;
$font-stack-copy:        'Overpass Mono', Consalas, monaco, 'Lucida Console', sans-serif;

////////////////////////////////////////
// @mixins                            //
////////////////////////////////////////

@mixin heading {
  font-family: $font-stack-heading;
  font-style: italic;
}

@mixin copy {
  font-family: $font-stack-copy;
  font-weight: 400;
}

////////////////////////////////////////
// globals                            //
////////////////////////////////////////

html {
  background: $color-1;
}

*::-webkit-selection {background-color: $selection-bg}
*::-moz-selection {background-color: $selection-bg;}
*::selection {background-color: $selection-bg;}

body {color: $color-2;}

ul {
  list-style: square inside none;
  @media #{$break-small} {
    margin-bottom: .25rem;
  }
  @media #{$break-medium} {
    margin-bottom: .35rem;
  }
  @media #{$break-large} {
    margin-bottom: .5rem;
  }
}

////////////////////////////////////////
// links                              //
////////////////////////////////////////

a {
  &:link, &:visited {
    color: $color-2;
  }
  &:hover, &:active, &:focus {
    color: $color-3;
  }
}

////////////////////////////////////////
// columns                            //
////////////////////////////////////////

div.col-flex-container {
  display: grid;
  grid-gap: 1rem;
  @media #{$break-medium} {
    grid-template-columns: auto auto;
    grid-auto-columns: min-content;
  }
  @media #{$break-large} {
    grid-template-columns: auto auto;
    grid-auto-columns: min-content;
  }
}

div.col-2-container {
  display: grid;
  grid-gap: 1rem;
  @media #{$break-medium} {
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: min-content;
  }
  @media #{$break-large} {
    grid-template-columns: 1fr 1fr;
  }
}

////////////////////////////////////////
// headings                           //
////////////////////////////////////////


h1, h2, h3, h4, h5, h6   {
                          @include heading;
                          text-transform: uppercase;
                          margin-bottom: 1rem;
                         }

h1                       {font-weight: 900;}
h2, h3                   {font-weight: 700;}
h4                       {font-weight: 600;}

// @media #{$break-small} {
//   h1, h2, h3, h4, h5, h6 {
//     margin-bottom: .25rem;
//   }
// }
//
// @media #{$break-medium} {
//   h1, h2, h3, h4, h5, h6 {
//     margin-bottom: .35rem;
//   }
// }

@media #{$break-small} {
  h1 {font-size: 2rem;}
  h2 {font-size: 1.424rem;}
  h3 {font-size: 1.266rem;}
  h4 {font-size: 1.125rem;}
  h5 {font-size: 1rem;}
  h6 {font-size: 1rem;}
}

@media #{$break-medium} {
  h1 {font-size: 2.25rem;}
  h2 {font-size: 1.424rem;}
  h3 {font-size: 1.266rem;}
  h4 {font-size: 1.125rem;}
  h5 {font-size: 1rem;}
  h6 {font-size: 1rem;}
}

@media #{$break-large} {
  h1 {font-size: 3rem;}
  h2 {font-size: 1.424rem;}
  h3 {font-size: 1.266rem;}
  h4 {font-size: 1.125rem;}
  h5 {font-size: 1rem;}
  h6 {font-size: 1rem;}
}

////////////////////////////////////////
// copy                               //
////////////////////////////////////////

p, span, div, ul {
  @include copy;
  font-size: 1rem;
  line-height: 1.5;
}

@media #{$break-medium} {
  p, span, div, ul {
    line-height: 1.5;
  }
}

////////////////////////////////////////
// else                               //
////////////////////////////////////////

html {
  height: 100%;
}

body {
  display: grid;
  justify-content: center;
  height: 100%;
}

div.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-auto-rows: min-content;
  grid-gap: 2rem;
  max-width: 1024px;
  padding: 1.25rem 1rem 0 1rem;

  section.body {
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 2rem;

    @media #{$break-small} {
      grid-template-columns: 100%;
    }
    @media #{$break-medium} {
      grid-template-columns: 100%;
    }
    @media #{$break-large} {
      grid-template-columns: 1fr 1fr;
    }

    section h3           {border-bottom: 2px solid;}
    // section h4        {border-bottom: 1.25px solid;}

    section.contact {
      div.social-links {
        font-size: 1.125rem;
      }
    }

    section.bio {

    }

    section.tools {

    }

    section.work {

    }
  }

  section.footer {
    padding: .5rem 0;
    @media #{$break-large} {
      text-align: center;
    }
  }
}
